html{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
#info-header, #info-footer{
    height: 10vh;
    color: white;
    background-color: #55181b;
    position: relative;
}
#info-header a{
    text-decoration: none;
    color: white;

    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    /*font-size: 4vh;*/
}
#info-header span{
    padding-top: 1vh;
    text-align: right;
    display: block;
    font-size: 3vh;
    line-height: 8vh;
    padding-right: 4vh;
}
#info-wrapper{
    height: 80vh;
    color: black;
    background-color: white;
}
#img-wrapper{
    height: 50%;
}
#product-wrapper{
    height: 46%;
}
#info-footer{

}
.info-icon{
    display: block;
    height: 75%;
    transform: scale(.65);
}
.info-btn{
    float: left;
    width: 25%;
    height: 100%;
    background: none;
    border: none;
    color: white;
}
#product-wrapper{
    background-color: #c2827e;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
}
#product-wrapper-header{
    background-color: #8c3938;
    font-size: 3vh;
    font-weight: bold;
    padding: 5px 10px;
    color: white;
}
#beers-wrapper{
    height:86%;
    overflow: auto;
}
.beer{
    height: 120px;
    padding: 10px 0;
}
.beer:nth-child(2n){
    background-color: #8c3938;
}
.b-logo{
    float: left;
    width: 40px;
    height: auto;
    max-height: 120px;
    margin: 0 50px 0 10px;
}
.b-name{
    font-weight: bold;
}
.b-info{
    font-style: italic;
    font-size: 12px;
}
.p-icon{
    float: right;
}
.i-phone{
    background: url("../images/phone.png") no-repeat center;
}
.i-map{
    background: url("../images/map.png") no-repeat center;
}
.i-mail{
    background: url("../images/mail.png") no-repeat center;
}
.i-site{
    background: url("../images/site.png") no-repeat center;
}
