.DS_Store
.classpath
.project
.settings
.metadata
.gradle
/target
*/target
/build
*/build
/bin
*/bin
src/main/resources/rebel.xml
.idea/*
.idea/
out/
sh.exe.stackdump
src/main/node_modules/
src/main/resources/static/**
src/main/resources/templates/**
node_modules
gulp.1
build
.tmp

bower_components

