/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 85vh;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#wrapper{
    height: 15vh;
    text-align: center;
    color: white;
}

.title{
    background-color: #840705;
    margin: 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.tab{
    width: 50%;
    height: 100%;
    /*min-width: 50%;*/
    /*max-width: 50%;*/
    background-color: #5e0302;
    border: none;
    font-size: 24px;

}
