<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Point</title>
    <link rel="stylesheet" href="../../resources/css/info-style.css">
    <link rel="stylesheet" href="../../resources/css/font-awesome.min.css">
</head>
<body>
<div id="info-header">
    <span>Львів, Дігер-паб "Underground"</span>
</div>
<div id="info-wrapper"></div>
<div id="info-footer">
    <button type="button" onclick="test();" class="info-btn"><span class="info-icon"></span><span>Подзвонити</span></button>
    <button type="button" onclick="test();" class="info-btn"><span class="info-icon"></span><span>Доїхати</span></button>
    <button type="button" onclick="test();" class="info-btn"><span class="info-icon"></span><span>Пошта</span></button>
    <button type="button" onclick="test();" class="info-btn"><span class="info-icon"></span><span>Сайт</span></button>
</div>

<script src="../../resources/js/common.js"></script>
</body>
</html>